--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
streamlit
python-dotenv
openai
pydantic
# requests
# beautifulsoup4
# langchain-core
# langchain-text-splitters
# trafilatura
# ddgs
pinecone
# tqdm